<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeachableMachine Test</title>
</head>
<body>
  <script>
    window.ExtensionFactory = {
      extensions: {},
      registerExtension: function(name, constructor) {
        window.ExtensionFactory.extensions[name] = constructor;
        if (window.ExtensionFactory.postRegistration[name]) {
          window.ExtensionFactory.postRegistration[name]();
        }
      },
      postRegistration: {
        "TeachableMachine": function() {
          let form = new com.google.appinventor.components.runtime.Form();
          let webview = new com.google.appinventor.components.runtime.WebViewer(form);
          let div = webview.getView();
          div.style.width = "224px";
          div.style.height = "224px";
          div.style.backgroundColor = "#ccc";
          document.body.appendChild(div);
          window.tm = new window.ExtensionFactory.extensions["TeachableMachine"]();
          // window.tm.ModelLink = 'Your TM model URL here';
          window.tm.WebViewer = webview;
          // TODO: Figure out how we would dispatch events so we can log them to the console, or
          // eventually send them to the Playground
        }
      }
    };
    window.registeredEvents = {
      "GotClassification": function(results) {
        let ul = document.getElementById("results");
        ul.innerHTML = '';
        for (const pair of results) {
          let li = document.createElement("li");
          li.innerText = pair[0] + ": " + pair[1];
          ul.appendChild(li);
        }
      }
    }
  </script>
  <script src="build/externalComponents/war/TeachableMachineExtension/TeachableMachineExtension.nocache.js"></script>
  <ul id="results">
  </ul>
</body>
</html>
